<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
        /com/tmp/
      </param-value>
    </context-param>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>com.view.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>com.view.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSesion</servlet-name>
        <servlet-class>com.view.EndSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProducts</servlet-name>
        <servlet-class>com.view.ListProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProduct</servlet-name>
        <servlet-class>com.view.SaveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.view.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProudct</servlet-name>
        <servlet-class>com.view.GetProudct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneProduct</servlet-name>
        <servlet-class>com.view.GetOneProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>com.view.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePhone</servlet-name>
        <servlet-class>com.view.DeletePhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailsError</servlet-name>
        <servlet-class>com.view.GetDetailsError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSesion</servlet-name>
        <url-pattern>/EndSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProducts</servlet-name>
        <url-pattern>/ListProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProduct</servlet-name>
        <url-pattern>/SaveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProudct</servlet-name>
        <url-pattern>/GetProudct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneProduct</servlet-name>
        <url-pattern>/GetOneProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePhone</servlet-name>
        <url-pattern>/DeletePhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailsError</servlet-name>
        <url-pattern>/GetDetailsError</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
